[commit]
	gpgsign = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
	twohead = ort
[core]
	editor = code --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[user]
	email = stevenmnance@gmail.com
	name = Steven Nance
	signingkey = 81321DC2803CDD04C9FF8E5825CA48C543589339
[includeIf "gitdir:~/src/nrwl/"]
  path = ~/src/llwt/configs/dotfiles/.gitconfig-nrwl
[pager]
	branch = false
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
